@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #202839;
    background: #c3375e;
}

a {
    text-decoration: none;
}
