
.Link {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 80vw;
    margin-left: -4px;
}

a {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 8px;
    transition: 0.64s;
    height: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:hover {
    height: 80px;
    margin-left: -8px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.32s;
}

.Link-Image {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-right: 12px;
}

.Link-Content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Link-Content-Caption {
    margin: 0;
    padding: 0;
    color: #202839;
    font-family: 'Helvetica Neue', 'Roboto', Helvetica;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
}

.Link-Content-Description {
    margin: 0;
    padding: 0;
    color: #202839;
    font-family: 'Helvetica Neue', 'Roboto', Helvetica;
    font-size: 20px;
    line-height: 2-px;
    font-weight: 300;
    text-decoration: none;
}

@media only screen
       and (max-width : 640px) {

    a {
        height: 48px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    a:hover {
        height: 48px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 0;
    }

    .Link-Content-Caption {
        font-size: 20px;
        line-height: 20px;
    }

    .Link-Content-Description {
        font-size: 16px;
        line-height: 16px;
    }
}
